In [1]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load dataset
vehicles_df = pd.read_csv('dataset/vehicles.csv')

In [3]:
vehicles_df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7184791621,https://duluth.craigslist.org/ctd/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,...,4wd,NaN,NaN,red,https://images.craigslist.org/00n0n_f06ykBMcdh...,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,https://duluth.craigslist.org/cto/d/saginaw-20...,duluth / superior,https://duluth.craigslist.org,8750,2013.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,NaN,grey,https://images.craigslist.org/00d0d_kgZ6xoeRw2...,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,https://newhaven.craigslist.org/cto/d/stratfor...,new haven,https://newhaven.craigslist.org,10900,2013.0,toyota,prius,good,4 cylinders,...,fwd,NaN,NaN,blue,https://images.craigslist.org/00d0d_3sHGxPbY2O...,2013 Prius V Model Two. One owner—must sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,12500,2003.0,mitsubishi,lancer,good,4 cylinders,...,4wd,mid-size,sedan,grey,https://images.craigslist.org/00m0m_4a8Pb6JbMG...,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,https://duluth.craigslist.org/ctd/d/rush-city-...,duluth / superior,https://duluth.craigslist.org,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/01414_g093aPtSMW...,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648

In [4]:
vehicles_df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [5]:
vehicles_df.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year             95114
manufacturer    110615
model            98473
condition       247138
cylinders       226178
fuel             96643
odometer        153272
title_status     96098
transmission     95792
vin             239437
drive           192738
size            321230
type            182700
paint_color     201654
image_url        94196
description      94203
county          423857
state                0
lat              99453
long             99453
dtype: int64

In [6]:
vehicles_df['region'].value_counts()

columbus               3296
springfield            3294
jacksonville           3284
rochester              3087
salem                  2985
                       ...
meridian                 22
kansas city              15
west virginia (old)      14
st louis                  5
fort smith, AR            1
Name: region, Length: 404, dtype: int64

In [7]:
vehicles_df['title_status'].value_counts()

clean         315607
rebuilt         6017
salvage         3248
lien            1963
missing          711
parts only       213
Name: title_status, dtype: int64

In [8]:
vehicles_df['manufacturer'].value_counts()

ford               59786
chevrolet          46603
toyota             26001
honda              18898
nissan             17536
jeep               14224
gmc                12782
dodge              12547
ram                11917
hyundai             8765
subaru              7971
bmw                 7717
volkswagen          7121
kia                 7069
mercedes-benz       6859
chrysler            5903
buick               4668
cadillac            4615
mazda               3964
lexus               3916
audi                3334
acura               2784
lincoln             2593
pontiac             2323
infiniti            2318
volvo               2097
mitsubishi          1945
mercury             1330
mini                1320
rover               1151
saturn              1083
jaguar               787
fiat                 567
tesla                299
alfa-romeo           138
harley-davidson      125
datsun                69
ferrari               64
aston-martin          28
land rover            15
porche                 6
morgan                 3
hennessey              1
Name: manufacturer, dtype: int64

In [9]:
vehicles_df['model'].value_counts()

f-150                          6073
silverado 1500                 3878
escape                         3208
camry                          2906
1500                           2898
                               ...
Willys Jeepster                   1
avalon limited hybrid             1
ranger xlt xlt 4dr supercab       1
xterra 4dr xe 4x4                 1
fairmont wagon                    1
Name: model, Length: 27042, dtype: int64

In [10]:
vehicles_df.loc[vehicles_df['manufacturer'] == 'porche']

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
136405,7194225695,https://eugene.craigslist.org/ctd/d/corvallis-...,eugene,https://eugene.craigslist.org,18995,2006.0,porche,718 boxster,excellent,NaN,...,fwd,NaN,NaN,NaN,https://images.craigslist.org/00n0n_dQrZBNejXb...,Only 48K original miles! Clean Carfax and clea...,NaN,or,44.5664,-123.2590
220750,7181786703,https://fredericksburg.craigslist.org/cto/d/de...,fredericksburg,https://fredericksburg.craigslist.org,39499,2014.0,porche,panemera 4,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00L0L_7avlQRbQtX...,"Excellent condition. New tires, dashboard, re...",NaN,va,37.1328,-95.7856
223992,7181770466,https://annapolis.craigslist.org/cto/d/crownsv...,annapolis,https://annapolis.craigslist.org,3700,2006.0,porche,cayenne,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00X0X_5lrOeIoL0y...,2006 PORSCHE CAYENNE FOR SALE. $3700.00 SALVAG...,NaN,md,39.0489,-76.5935
233509,7190101146,https://eugene.craigslist.org/ctd/d/corvallis-...,eugene,https://eugene.craigslist.org,18995,2006.0,porche,718 boxster,excellent,NaN,...,fwd,NaN,NaN,NaN,https://images.craigslist.org/00n0n_dQrZBNejXb...,Only 48K original miles! Clean Carfax and clea...,NaN,or,44.5664,-123.2590
286682,7193882028,https://orangecounty.craigslist.org/ctd/d/irvi...,orange county,https://orangecounty.craigslist.org,69990,2016.0,porche,carrera 911 pdk coupe,like new,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00d0d_kUYVzWk2Vn...,2016 PORSCHE CARRERA 911 PDK TRANSMISSION PREM...,NaN,ca,33.6607,-117.8260
347227,7194647326,https://milwaukee.craigslist.org/cto/d/milwauk...,milwaukee,https://milwaukee.craigslist.org,36960,2015.0,porche,cayenne,like new,6 cylinders,...,4wd,full-size,SUV,black,https://images.craigslist.org/00l0l_l0iPpGAveM...,The car drive like new and has low mileage. yo...,NaN,wi,43.1624,-87.9898

In [11]:
vehicles_df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7184791621,https://duluth.craigslist.org/ctd/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,...,4wd,NaN,NaN,red,https://images.craigslist.org/00n0n_f06ykBMcdh...,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,https://duluth.craigslist.org/cto/d/saginaw-20...,duluth / superior,https://duluth.craigslist.org,8750,2013.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,NaN,grey,https://images.craigslist.org/00d0d_kgZ6xoeRw2...,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,https://newhaven.craigslist.org/cto/d/stratfor...,new haven,https://newhaven.craigslist.org,10900,2013.0,toyota,prius,good,4 cylinders,...,fwd,NaN,NaN,blue,https://images.craigslist.org/00d0d_3sHGxPbY2O...,2013 Prius V Model Two. One owner—must sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,12500,2003.0,mitsubishi,lancer,good,4 cylinders,...,4wd,mid-size,sedan,grey,https://images.craigslist.org/00m0m_4a8Pb6JbMG...,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,https://duluth.craigslist.org/ctd/d/rush-city-...,duluth / superior,https://duluth.craigslist.org,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/01414_g093aPtSMW...,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423852,7184919761,https://duluth.craigslist.org/cto/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,1600,2006.0,hyundai,sonata,fair,6 cylinders,...,fwd,NaN,sedan,blue,https://images.craigslist.org/00E0E_8o5RKLUz3o...,Motor runs and drives good. Transmission shift...,NaN,mn,46.8348,-92.0742
423853,7184844576,https://duluth.craigslist.org/cto/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,9000,2003.0,toyota,sequoia limited,excellent,8 cylinders,...,4wd,full-size,SUV,green,https://images.craigslist.org/00G0G_BT0Ha3X736...,"2 owner 0 rust not from here... Leather ,roof ...",NaN,mn,46.9369,-91.9325
423854,7184805809,https://duluth.craigslist.org/cto/d/duluth-94-...,duluth / superior,https://duluth.craigslist.org,700,1994.0,ford,f-150,fair,6 cylinders,...,rwd,NaN,NaN,green,https://images.craigslist.org/00L0L_2MgECwYWhp...,I'm selling this beautiful old pickup that I j...,NaN,mn,46.7715,-92.1279
423855,7184791927,https://duluth.craigslist.org/ctd/d/duluth-199...,duluth / superior,https://duluth.craigslist.org,3800,1999.0,lincoln,town car,excellent,8 cylinders,...,rwd,NaN,sedan,NaN,https://images.craigslist.org/00q0q_6msyGUIqK3...,1999 *** Lincoln Town Car 4dr Sdn Signature Se...,NaN,mn,46.8433,-92.2550
423856,7195109037,https://albuquerque.craigslist.org/ctd/d/albuq...,albuquerque,https://albuquerque.craigslist.org,8650,2015.0,nissan,versa,NaN,NaN,...,fwd,compact,sedan,silver,https://images.craigslist.org/00e0e_aTHizIb1II...,2015 Nissan Versa S Offered by: Southwest ...,NaN,nm,35.1851,-106.5850

In [12]:
drop_columns = ['id','url','region_url','model','vin','size',
                'type','paint_color','image_url','description', 'county']

In [13]:
data1 = vehicles_df.drop(columns = drop_columns)

In [14]:
data1

,region,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,state,lat,long
0,duluth / superior,6995,2000.0,gmc,excellent,8 cylinders,gas,167783.0,clean,automatic,4wd,mn,46.8433,-92.2550
1,duluth / superior,8750,2013.0,hyundai,excellent,4 cylinders,gas,90821.0,clean,automatic,fwd,mn,46.9074,-92.4638
2,new haven,10900,2013.0,toyota,good,4 cylinders,hybrid,92800.0,clean,automatic,fwd,ct,41.1770,-73.1336
3,albuquerque,12500,2003.0,mitsubishi,good,4 cylinders,gas,NaN,clean,manual,4wd,nm,35.1868,-106.6650
4,duluth / superior,16995,2007.0,gmc,good,8 cylinders,diesel,254217.0,clean,automatic,4wd,mn,45.6836,-92.9648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423852,duluth / superior,1600,2006.0,hyundai,fair,6 cylinders,gas,159980.0,clean,automatic,fwd,mn,46.8348,-92.0742
423853,duluth / superior,9000,2003.0,toyota,excellent,8 cylinders,gas,160000.0,clean,automatic,4wd,mn,46.9369,-91.9325
423854,duluth / superior,700,1994.0,ford,fair,6 cylinders,gas,212000.0,clean,manual,rwd,mn,46.7715,-92.1279
423855,duluth / superior,3800,1999.0,lincoln,excellent,8 cylinders,gas,160000.0,clean,automatic,rwd,mn,46.8433,-92.2550
423856,albuquerque,8650,2015.0,nissan,NaN,NaN,gas,160526.0,clean,automatic,fwd,nm,35.1851,-106.5850

In [15]:
data1.dropna()

,region,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,state,lat,long
0,duluth / superior,6995,2000.0,gmc,excellent,8 cylinders,gas,167783.0,clean,automatic,4wd,mn,46.8433,-92.2550
1,duluth / superior,8750,2013.0,hyundai,excellent,4 cylinders,gas,90821.0,clean,automatic,fwd,mn,46.9074,-92.4638
2,new haven,10900,2013.0,toyota,good,4 cylinders,hybrid,92800.0,clean,automatic,fwd,ct,41.1770,-73.1336
4,duluth / superior,16995,2007.0,gmc,good,8 cylinders,diesel,254217.0,clean,automatic,4wd,mn,45.6836,-92.9648
5,duluth / superior,13995,2012.0,ford,good,6 cylinders,gas,188406.0,clean,automatic,4wd,mn,45.6836,-92.9648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423851,albuquerque,4800,2002.0,ford,good,6 cylinders,gas,58000.0,clean,automatic,rwd,nm,34.8543,-106.6960
423852,duluth / superior,1600,2006.0,hyundai,fair,6 cylinders,gas,159980.0,clean,automatic,fwd,mn,46.8348,-92.0742
423853,duluth / superior,9000,2003.0,toyota,excellent,8 cylinders,gas,160000.0,clean,automatic,4wd,mn,46.9369,-91.9325
423854,duluth / superior,700,1994.0,ford,fair,6 cylinders,gas,212000.0,clean,manual,rwd,mn,46.7715,-92.1279
423855,duluth / superior,3800,1999.0,lincoln,excellent,8 cylinders,gas,160000.0,clean,automatic,rwd,mn,46.8433,-92.2550