In [12]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Load dataset
vehicles_df = pd.read_csv('dataset/vehicles.csv')

In [4]:
vehicles_df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7184791621,https://duluth.craigslist.org/ctd/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,...,4wd,NaN,NaN,red,https://images.craigslist.org/00n0n_f06ykBMcdh...,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,https://duluth.craigslist.org/cto/d/saginaw-20...,duluth / superior,https://duluth.craigslist.org,8750,2013.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,NaN,grey,https://images.craigslist.org/00d0d_kgZ6xoeRw2...,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,https://newhaven.craigslist.org/cto/d/stratfor...,new haven,https://newhaven.craigslist.org,10900,2013.0,toyota,prius,good,4 cylinders,...,fwd,NaN,NaN,blue,https://images.craigslist.org/00d0d_3sHGxPbY2O...,2013 Prius V Model Two. One owner—must sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,12500,2003.0,mitsubishi,lancer,good,4 cylinders,...,4wd,mid-size,sedan,grey,https://images.craigslist.org/00m0m_4a8Pb6JbMG...,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,https://duluth.craigslist.org/ctd/d/rush-city-...,duluth / superior,https://duluth.craigslist.org,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/01414_g093aPtSMW...,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648

In [5]:
vehicles_df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [7]:
vehicles_df.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year             95114
manufacturer    110615
model            98473
condition       247138
cylinders       226178
fuel             96643
odometer        153272
title_status     96098
transmission     95792
vin             239437
drive           192738
size            321230
type            182700
paint_color     201654
image_url        94196
description      94203
county          423857
state                0
lat              99453
long             99453
dtype: int64

In [9]:
vehicles_df['title_status'].unique()

array(['clean', 'lien', 'rebuilt', 'salvage', 'missing', 'parts only',
       nan], dtype=object)

In [11]:
vehicles_df.groupby('manufacturer')['id'].count()

manufacturer
acura               2784
alfa-romeo           138
aston-martin          28
audi                3334
bmw                 7717
buick               4668
cadillac            4615
chevrolet          46603
chrysler            5903
datsun                69
dodge              12547
ferrari               64
fiat                 567
ford               59786
gmc                12782
harley-davidson      125
hennessey              1
honda              18898
hyundai             8765
infiniti            2318
jaguar               787
jeep               14224
kia                 7069
land rover            15
lexus               3916
lincoln             2593
mazda               3964
mercedes-benz       6859
mercury             1330
mini                1320
mitsubishi          1945
morgan                 3
nissan             17536
pontiac             2323
porche                 6
ram                11917
rover               1151
saturn              1083
subaru              7971
tesla                299
toyota             26001
volkswagen          7121
volvo               2097
Name: id, dtype: int64

In [13]:
vehicles_df['model'].unique()

array(['new sierra 1500', 'sonata', 'prius', ..., '1990 F350',
       'ranchero gt cobra', 'Studebaker GT Hawk Torisimo'], dtype=object)

In [14]:
len(vehicles_df['model'].unique())

27043

In [16]:
vehicles_df.loc[vehicles_df['manufacturer'] == 'porche']

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
136405,7194225695,https://eugene.craigslist.org/ctd/d/corvallis-...,eugene,https://eugene.craigslist.org,18995,2006.0,porche,718 boxster,excellent,NaN,...,fwd,NaN,NaN,NaN,https://images.craigslist.org/00n0n_dQrZBNejXb...,Only 48K original miles! Clean Carfax and clea...,NaN,or,44.5664,-123.2590
220750,7181786703,https://fredericksburg.craigslist.org/cto/d/de...,fredericksburg,https://fredericksburg.craigslist.org,39499,2014.0,porche,panemera 4,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00L0L_7avlQRbQtX...,"Excellent condition. New tires, dashboard, re...",NaN,va,37.1328,-95.7856
223992,7181770466,https://annapolis.craigslist.org/cto/d/crownsv...,annapolis,https://annapolis.craigslist.org,3700,2006.0,porche,cayenne,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00X0X_5lrOeIoL0y...,2006 PORSCHE CAYENNE FOR SALE. $3700.00 SALVAG...,NaN,md,39.0489,-76.5935
233509,7190101146,https://eugene.craigslist.org/ctd/d/corvallis-...,eugene,https://eugene.craigslist.org,18995,2006.0,porche,718 boxster,excellent,NaN,...,fwd,NaN,NaN,NaN,https://images.craigslist.org/00n0n_dQrZBNejXb...,Only 48K original miles! Clean Carfax and clea...,NaN,or,44.5664,-123.2590
286682,7193882028,https://orangecounty.craigslist.org/ctd/d/irvi...,orange county,https://orangecounty.craigslist.org,69990,2016.0,porche,carrera 911 pdk coupe,like new,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00d0d_kUYVzWk2Vn...,2016 PORSCHE CARRERA 911 PDK TRANSMISSION PREM...,NaN,ca,33.6607,-117.8260
347227,7194647326,https://milwaukee.craigslist.org/cto/d/milwauk...,milwaukee,https://milwaukee.craigslist.org,36960,2015.0,porche,cayenne,like new,6 cylinders,...,4wd,full-size,SUV,black,https://images.craigslist.org/00l0l_l0iPpGAveM...,The car drive like new and has low mileage. yo...,NaN,wi,43.1624,-87.9898