<a href="https://colab.research.google.com/github/ChitandaMayaka/CMPE255-Team-Project/blob/main/DataPreprocessingAndVisualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing and Visulization

- Data Preprocessing
    - Drop all unnecessary column ['id', 'url', 'region_url', 'vin','size', 'type', 'paint_color', 'image_url', 'description', 'county', 'lat', 'long']
    - Drop duplicated row
    - Preprocessing price. Drop the value under 1000 and over 100000
    - Preprocessing year. Drop the value under 1980 and over 2020

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Data Preprocessing

### Handle with common unnecessary columns and rows

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('drive/Shared drives/CMPE255 Project/dataset/vehicles.csv')

In [3]:
data.head()

           id  ...      long
0  7184791621  ...  -92.2550
1  7184773187  ...  -92.4638
2  7193375964  ...  -73.1336
3  7195108810  ... -106.6650
4  7184712241  ...  -92.9648

[5 rows x 25 columns]

In [4]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [5]:
# Drop unnecessary columns
data.drop(columns=['id', 'url', 'region_url', 'vin','size', 'type', 'paint_color', 'image_url', 'description', 'county'], inplace=True)

In [7]:
# Remove duplicated row
data.drop_duplicates(inplace=True)

In [8]:
data.isnull().sum()

region               0
price                0
year             49327
manufacturer     62655
model            52324
condition       176518
cylinders       159323
fuel             50674
odometer         98824
title_status     50249
transmission     49896
drive           133041
state                0
lat              53328
long             53328
dtype: int64

In [7]:
data.head()

              region  price    year manufacturer  ... drive state      lat      long
0  duluth / superior   6995  2000.0          gmc  ...   4wd    mn  46.8433  -92.2550
1  duluth / superior   8750  2013.0      hyundai  ...   fwd    mn  46.9074  -92.4638
2          new haven  10900  2013.0       toyota  ...   fwd    ct  41.1770  -73.1336
3        albuquerque  12500  2003.0   mitsubishi  ...   4wd    nm  35.1868 -106.6650
4  duluth / superior  16995  2007.0          gmc  ...   4wd    mn  45.6836  -92.9648

[5 rows x 15 columns]

In [9]:
data

                   region  price    year  ... state      lat      long
0       duluth / superior   6995  2000.0  ...    mn  46.8433  -92.2550
1       duluth / superior   8750  2013.0  ...    mn  46.9074  -92.4638
2               new haven  10900  2013.0  ...    ct  41.1770  -73.1336
3             albuquerque  12500  2003.0  ...    nm  35.1868 -106.6650
4       duluth / superior  16995  2007.0  ...    mn  45.6836  -92.9648
...                   ...    ...     ...  ...   ...      ...       ...
423851        albuquerque   4800  2002.0  ...    nm  34.8543 -106.6960
423852  duluth / superior   1600  2006.0  ...    mn  46.8348  -92.0742
423853  duluth / superior   9000  2003.0  ...    mn  46.9369  -91.9325
423854  duluth / superior    700  1994.0  ...    mn  46.7715  -92.1279
423855  duluth / superior   3800  1999.0  ...    mn  46.8433  -92.2550

[335484 rows x 15 columns]

### Preprocessing price

In [10]:
# filter abnormal price data
# We can think the car whose price under $1000 are scarp
# and over $100000 are overprice
data['price'].describe()

count    3.354840e+05
mean     6.986883e+04
std      1.126917e+07
min      0.000000e+00
25%      4.850000e+03
50%      1.052300e+04
75%      1.988800e+04
max      3.808256e+09
Name: price, dtype: float64

In [11]:
data['price'] = data['price'].loc[data['price'] > 1000]
data['price'] = data['price'].loc[data['price'] < 1e5]
data['price'].describe()

count    300578.000000
mean      15735.874109
std       12877.757625
min        1002.000000
25%        6450.000000
50%       12000.000000
75%       20990.000000
max       99999.000000
Name: price, dtype: float64

In [12]:
average_price_bymanufacturer = data.groupby('manufacturer')['price'].mean()

In [18]:
average_price_bymanufacturer.sort_values(ascending=False, inplace=True)

In [19]:
# Visualize data after all preprocessing
'''plt.figure(figsize=(15,10))
ax = average_price_bymanufacturer.plot.bar()
plt.title('Average Price by Manufacturer')
plt.show()'''

"plt.figure(figsize=(15,10))\nax = average_price_bymanufacturer.plot.bar()\nplt.title('Average Price by Manufacturer')\nplt.show()"

In [20]:
average_price_byyear = data.groupby('year')['price'].mean()

In [21]:
'''plt.figure(figsize=(15,10))
ax =average_price_byyear.plot.bar()
plt.title('Average Price by Year')
plt.show()'''

"plt.figure(figsize=(15,10))\nax =average_price_byyear.plot.bar()\nplt.title('Average Price by Year')\nplt.show()"

### Preprocessing year

In [22]:
data['year'].isnull().sum()

95114

In [23]:
data['year'].describe()

count    328743.000000
mean       2009.827358
std          10.135809
min        1900.000000
25%        2007.000000
50%        2012.000000
75%        2016.000000
max        2021.000000
Name: year, dtype: float64

In [24]:
# discard value in ['year'] smaller than 1980 and bigger than 2021
data['year'] = data['year'].loc[data['year'] > 1980]
data['year'] = data['year'].loc[data['year'] < 2021]
data['year'].describe()

count    319968.000000
mean       2011.062437
std           6.434974
min        1981.000000
25%        2007.000000
50%        2012.000000
75%        2016.000000
max        2020.000000
Name: year, dtype: float64

In [25]:
data['year'].value_counts()

2017.0    30828
2015.0    21901
2014.0    21773
2013.0    21480
2016.0    21430
2012.0    19130
2011.0    18412
2018.0    17839
2019.0    16995
2008.0    16070
2007.0    14624
2010.0    14350
2006.0    12331
2009.0    11303
2005.0    10284
2004.0     9176
2003.0     6835
2002.0     5595
2020.0     5537
2001.0     4287
2000.0     3703
1999.0     2885
1998.0     1964
1997.0     1765
1995.0     1216
1996.0     1198
1994.0      977
1993.0      704
1992.0      642
1991.0      580
1990.0      563
1989.0      525
1987.0      524
1988.0      488
1986.0      482
1985.0      450
1984.0      433
1983.0      249
1982.0      225
1981.0      215
Name: year, dtype: int64

### Preprocessing region and state

In [15]:
data['region'].isnull().sum()

0

In [16]:
data['state'].isnull().sum()

0

In [17]:
data['region'].value_counts()

rochester               2705
springfield             2689
des moines              2644
jacksonville            2593
greenville / upstate    2590
                        ...
meridian                  20
kansas city               15
west virginia (old)       14
st louis                   5
fort smith, AR             1
Name: region, Length: 404, dtype: int64

In [18]:
data['state'].value_counts()

ca    32259
fl    22121
tx    17633
ny    14796
oh    13927
mi    13807
nc    13061
or    12510
wi    10856
pa    10418
wa     9933
co     9335
tn     8793
va     8564
nj     8379
il     8235
ia     7833
id     7430
mn     6937
mt     6046
ma     6041
sc     5671
in     5400
ok     5324
az     5163
ks     4837
ga     4658
al     4405
ct     4188
mo     4048
ky     3983
md     3765
nm     3344
ar     3210
ak     3002
la     2544
nv     2512
me     2314
nh     2297
dc     2269
ri     2083
hi     2043
vt     1958
sd     1402
ne     1386
ms     1245
ut      939
de      779
wy      704
wv      664
nd      433
Name: state, dtype: int64

In [19]:
len(data['state'].unique())

51

In [20]:
# Consider combine this two column to create new column location
data['location'] = data['region'] + data['state']

In [22]:
data['location'].value_counts()

des moinesia               2644
greenville / upstatesc     2590
colorado springsco         2575
central NJnj               2573
st louis, MOil             2568
                           ...
south bend / michianami       1
huntington-ashlandwv          1
fort smith, ARok              1
quad cities, IA/ILia          1
parkersburg-mariettawv        1
Name: location, Length: 431, dtype: int64